@page "/counter"

<PageTitle>Productos</PageTitle>

<h1>Productos</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Like</button>
<button class="btn btn-primary" @onclick="IncrementCount">DisLike</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        currentCount--;
    }
}
